.leftdiv{
    float: left;
    width: 50%;
}
.rightdiv{
    float: left;
    width: 50%;
}
#logo{
    margin: 10px;
}
#branches{
    margin: 10px;
}
.branch-detail{
    font-size: 12px;
}
.branch-detail p{
    margin: 0%;
}
.branch-name{
    font-size: 14;
    font-weight: 600;
    margin-bottom: 0%;
    margin-top: 0%;
}
#headoffice{
    padding-left: 10px;
}
.subheader1{
    margin-top: 0px;
    margin-left: 10px;
    font-weight: 600;
}
.subheader1 p{
    font-size: 14px;
}
.headernote{
    font-size: 14px;
}
#headernotecontent{
    margin: 0px 10px 0px 10px;
}
.bold1{
    font-weight: bold;
}
.categorydiv{
    float: left;
    width: 20%;
    background-color: white;
}
#categorylabel{
    margin-left:10px;
    font-weight: bold;
}
span.categoryoptionlabel {
    font-size: 12px;
    font-weight: bold;
}
.rowheader{
    margin-top: 5%;
    background-color: black;
    color:white;
}
.rowheader div{
    margin-left: 10px;
}
.rowheader div span{
    font-size: 12px;
    font-weight: bold;
}
.rowfield div{
    margin-top: 3px;
    margin-left: 10px;
    font-weight: bold;
}
.rowfield div span{
    font-size: 10px;
}
.rowfieldheader{
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
}
.leftfield{
    float: left;
    width: 30%;
    margin-left: 10px;
}
.rightfield{
    float: left;
    width: 70%;
}
.leftborder{
    border-left: 1px black;
}
.fieldrowseparator{
    margin: 0px;
}
.vr{
    float: left;
    background-color: black;
    width: 0.5%;
    padding-bottom: 0%;
    margin-top: 0%;
}
.hr{
    background-color: black;
    height: 0pt;
}
.footer{
    font-size: 8px;
    padding-left: 5px;
}
#footer{
    position: absolute;
    top:29cm;
}
.rightside{

    left:10.5cm;
}
.leftnumber{
    float: left;
    width: 15%;
}
.rightafternumber{
    float: left;
    width: 85%;
}
.navigator{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}