.leftdiv{
    float: left;
    width: 50%;
}
.rightdiv{
    float: left;
    width: 50%;
}
#logo{
    margin: 10px;
}
#branches{
    margin: 10px;
}
.branch-detail{
    font-size: 12px;
}
.branch-detail p{
    margin: 0%;
}
.branch-name{
    font-size: 14;
    font-weight: 600;
    margin-bottom: 0%;
    margin-top: 0%;
}
#headoffice{
    padding-left: 10px;
}
.subheader1{
    margin-top: 0px;
    margin-left: 10px;
    font-weight: 600;
}
.subheader1 p{
    font-size: 14px;
}
.headernote{
    font-size: 14px;
}
#headernotecontent{
    margin: 0px 10px 0px 10px;
}
.bold1{
    font-weight: bold;
}
.categorydiv{
    float: left;
    width: 20%;
    background-color: white;
}
#categorylabel{
    margin-left:10px;
    font-weight: bold;
}
span.categoryoptionlabel {
    font-size: 12px;
    font-weight: bold;
}
.rowheader{
    margin-top: 10%;
    background-color: black;
    color:white;
}
.rowheader div{
    margin-left: 10px;
}
.rowheader div span{
    font-size: 12px;
    font-weight: bold;
}
.rowheaderx{
    margin-top: 25px;
    background-color: black;
    color:white;
}
.leftfieldbiaya{
    float: left;
    width: 10cm;
    margin-left: 1cm;
    font-size: 14px;
}
.rightfieldbiaya{
    float: left;
    width: 10cm;
    font-size: 14px;
}
.leftborder{
    border-left: 1px black;
}
.fieldrowseparator{
    margin: 0px;
}
.vr{
    float: left;
    background-color: black;
    width: 0.5%;
    padding-bottom: 0%;
    margin-top: 0%;
}
.hr{
    background-color: black;
    height: 0pt;
}
.footer{
    font-size: 8px;
    padding-left: 5px;
}
#footer{
    position: absolute;
    top:29cm;
}
.rightside{

    left:10.5cm;
}
.serviceheader{
    width: 21cm;
}
.servicedata{
    top: 6cm;
    float: left;
    width:10.5cm;
}
.servicedata span{
    margin-left:10px;
}
.perioddata{
    top: 6cm;
    float: left;
    width:10.5cm;
}
.leftfieldpersetujuan{
    float: left;
    margin-left:10px;
}
.persetujuan{
    margin-top:0px;
    background-color: black;
    color:white;
}
.agreement{
    padding-right:20px;
}
.sign{
    height: 150px;
    display: block;
}
.leftsignpart{
    float: left;
    width: 50%;
}
.rightsignpart{
    float: left;
    width: 50%;
}
#leftdivsmaller1{
    text-decoration: overline;
    border: 1px;
    float: left;
    width: 60%;
    padding-left:5px;
}
#leftdivsmaller2{
    text-decoration: overline;
    border: 1px;
    float: left;
    width: 15%;
}
#leftdivsmaller3{
    text-decoration: overline;
    border: 1px;
    float: left;
    width: 20%;
}
#rightdivsmaller1{
    text-decoration: overline;
    border: 1px;
    float: left;
    width: 60%;
}
#rightdivsmaller2{
    text-decoration: overline;
    border: 1px;
    float: left;
    width: 40%;
}
#keteranganinternal{
    top:1px;
    padding-left: 5px;
}
.hasthinrightborder{
    border-right: 1px black solid;
}
.leftdiv2{
    width:50%;
    float:left;
    height: 10px;
    display: block;
}
.rightdiv2{
    width:49.9%;
    float:left;
    height: 10px;
    display: block;
}
.verticalline{
    background-color:black;
    width: 0.1%;
    float: left;
    display: block;
}
.signy{
    border-bottom: black solid 0.1px;
}
.lonely{
    border-top: 0px;
    margin-top: 0px;
    color: black;
}